# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry
ansible/inventory.yml
ansible/.ansible_cache/
ansible/.vault_pass

# Certificates
*.pem

# OS
.DS_Store

# Editor
.vscode/
.idea/
