services:
  couchdb:
    image: {{ couchdb_image }}
    container_name: couchdb
    restart: unless-stopped
    environment:
      COUCHDB_USER: "{{ couchdb_user }}"
      COUCHDB_PASSWORD: "{{ couchdb_password }}"
    ports:
      - "127.0.0.1:5984:5984"
    volumes:
      - couchdb_data:/opt/couchdb/data
      - ./local.ini:/opt/couchdb/etc/local.d/local.ini:ro
    networks:
      - proxy

volumes:
  couchdb_data:

networks:
  proxy:
    external: true
